body{
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#eee;
transition:0.5s;
}

.box{
background:white;
padding:30px;
border-radius:10px;
text-align:center;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

input{
padding:10px;
margin-top:10px;
}

button{
padding:10px 15px;
margin-top:10px;
background:black;
color:white;
border:none;
cursor:pointer;
}

p{
margin-top:15px;
font-weight:bold;
}