body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background 0.3s, color 0.3s;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.light {
    background: #f4f4f4;
    color: #111;
}

.dark {
    background: #111;
    color: #f4f4f4;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}






