body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
}

.container {
  margin-top: 100px;
}

input, select {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}