*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f4f6f8;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.faq{
  background:white;
  width:350px;
  padding:25px;
  border-radius:10px;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.item{
  margin-top:15px;
}

.question{
  width:100%;
  padding:12px;
  text-align:left;
  cursor:pointer;
  border:none;
  background:#0984e3;
  color:white;
  border-radius:5px;
}

.answer{
  display:none;
  padding:10px;
  background:#ecf0f1;
  border-radius:5px;
  margin-top:5px;
}






